.post img {
    margin: 25px 275px 100px 275px;
    padding: 0px;
}

#menu {
    position: relative;
    display: block;
    width: 796px;
    height: auto;
    z-index: 10;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.5);
}

#menu ul {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    list-style: none;
}

#menu > ul::after {
    display: block    ;
    width: 100%;
    height: auto;
    clear: both;
    content: " ";
}

#menu ul li {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
}

#menu ul li a {
    display: block;
    padding: 9px 25px 0px 25px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    height: 36px;
    box-sizing: border-box;
    color: rgb (#4169E1);